body, html {
    width: 100%;
    height: 100%;
}

h1, h2, h3 h4 p{
    font-style: normal;
    line-height: 140%;
}
h1, h2, h3, h4{
    font-family: Lato;
    font-size: 24px;
    line-height: 120%;


}
h2{
    font-weight: bold;

}

h3{
    font-weight: 800;
    letter-spacing: 0.81px;
    color: rgba(0, 0, 0, 0.76);

}

h4{
    font-weight: 600;
    letter-spacing: 0.81px;
}
p, li{
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.76);
}

li{
    margin-bottom: 10px;
}

a:active {
    color:#000000;
    text-decoration:none
}

a:visited {
    color:#000000;
    text-decoration:none
}

a:hover {
    color:#000000;
    text-decoration: underline
}


.bord{
    border: 1px solid rgba(0, 0, 0, 0.07);

}
.bord-right{
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}
.bord-top{
    border-top: 1px solid rgba(0, 0, 0, 0.07);

}
.bord-bottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);

}
/****** PAGE 1 ******/
#page1{
    min-height: 100%;
    background: url("../image/main-mountain.jpg") no-repeat  center center  ;
    background-size: 100%;

}
.px-7{
    padding-left: 4vw;!important;
    padding-right: 4vw;!important;
}
.mr-10{
    margin-right: 10vw;
}
.maintenance{
    border: 1px solid rgba(255, 255, 255, 0.1);

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
}
.h1-page1{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 0.81px;
    color: #FFFFFF;
}
.h3-page1{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.81px;
    color: #FFFFFF;
}
.btn-page1{
    border: 1px solid rgba(0, 0, 0, 0.07);
    background-color:#ffffff;
    width: 159px;
    height: 44px;
    border-radius: unset;
}
.bottom-footer{
    background: black;
    bottom: 0;
    position:absolute;
    width: 100%;
}
.footer-page1{
    margin-right: 0;!important;
}
.border-footer{
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1vh;
}
.text-footer{
    color: #ffffff;
}
.icon-padding{
    padding-top: 1vh;


}






/****** PAGE 2 ******/
.content-page2 {
    border: 1px solid rgba(0, 0, 0, 0.07);
}
.mx-9 {
    margin-left: 9vw;
    margin-right: 9vw;
}

.h2-page2{
    line-height: 140%;
}

.btn-page2{
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: #ffffff;
    width: 300px;
    height: 44px;
    border-radius: unset;

}

/****** PAGE 3 ******/

.icon-surface{
    padding-right: 14px;
}
.icons-page3{
    margin-right: 20px;
}
.content-page3{
    margin-left: 29px;
}

.h3-page3{
    opacity: 0;
}


/****** PAGE 4 ******/
.carousel-item{
    height: 150px;
}
.carousel-inner img {
    height: 100%;
    width: auto;
}

.logo-img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}
.logo-img:hover{
    -webkit-filter: none;
    filter: none;
    transition-duration: .3s;
    opacity: 1;
}

.carousel-control-next-icon{
    background-image: url("../image/icons8_left.png");
}
.carousel-control-prev-icon{
    background-image: url("../image/icons-col-left.png");

}


/****** PAGE 5 ******/

.rectangle {
    width: 100%;
    height: auto;
}

.data-page5{
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.54);
    margin-top: -10px;
}

.btn-page5{
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: #ffffff;
    width: 56px;
    height: 36px;
    border-radius: unset;
}
.btns-page5{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.btn-page5-left{
}
.arrows{
    margin-top: -3px;
}

.facebook{
    margin-top: -3px;
    margin-right: 3px;
}

.a-page5:active {
    color: unset;
}

.a-page5:visited {
    color: unset;
}

.a-page5:hover {
    color: unset;
}
/****** PAGE 7 ******/

.bord-bottom-white{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#page7{
    height: 93vh;
    background: #212121;
}

.h4-page7{
    width: 80%;
    color: #ffffff;

}

.ul-page7{
    list-style-type:none;
    padding-left: 0;
}
.a-page7:active {
    color: rgba(255, 255, 255, 0.76);
    text-decoration:none
}

.a-page7:visited {
    color: rgba(255, 255, 255, 0.76);
    text-decoration:none
}

.a-page7:hover {
    color: rgba(255, 255, 255, 0.76);
    text-decoration: underline
}

.footer-page7{
    background: rgba(33, 36, 33, 0.9);;

}
.footer-page7-text{
    font-weight: 600;
    font-size: 12px;
    line-height: 220%;
    color: #ffffff;
    letter-spacing: 1px;


}
/*DEBUG*/

/** {*/
/*border: 1px solid red;*/
/*}*/